@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sligoil: var(--font-sligoil);
  --font-sans: var(--font-sligoil);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  @apply font-sans;
}

h1 {
  @apply font-black text-9xl mb-10;
}

h2 {
  @apply font-black text-5xl mb-10;
}

input::file-selector-button {
  @apply bg-purple-900 text-white border-1 border-white/30 px-4 py-2 rounded cursor-pointer hover:bg-purple-600 mr-3 uppercase tracking-widest font-black;
}
